name: yapi-pub

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # https://stackoverflow.com/questions/71464006/error-an-unexpected-error-occurred-eacces-permission-denied-in-github-actions
      - uses: actions/setup-node@v2
        with:
          node-version: 12

      - name: Build image push to aliyun
        uses: docker/build-push-action@v1
        with:
          registry: ${{ secrets.ALI_DOCKER_HUB_REGISTRY }}
          username: ${{ secrets.ALIYUN_DOCKER_REPO_USER_NAME }}
          password: ${{ secrets.ALIYUN_DOCKER_REPO_USER_PASSWORD }}
          tags: ${{ github.sha }}
          repository: reddwarf-toolbox/yapi
          path: '.'
    
       # https://github.com/steebchen/kubectl
      - name: deploy to cluster
        uses: steebchen/kubectl@v2.0.0
        with: # defaults to latest kubectl binary version
          config: ${{ secrets.KUBE_CONFIG_DATA }}
          command: set image --record statefulsets/yapi-1639757860 yapi=registry.cn-hangzhou.aliyuncs.com/reddwarf-pro/yapi:${{ github.sha }} -n reddwarf-toolbox

      - name: verify deployment
        uses: steebchen/kubectl@v2.0.0
        with:
          config: ${{ secrets.KUBE_CONFIG_DATA }}
          version: v1.21.0 # specify kubectl binary version explicitly
          command: rollout status statefulsets/yapi-1639757860 -n reddwarf-pro
